@import url('https://fonts.googleapis.com/css2?family=Livvic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital@1&display=swap');

/* ============ Index ============ */
/* 
1 Resets

2 variables

3 typography

4 layout

 ============ tablet Styles ============
2.1 variables

3.1 typography

4.1 layout

 ============ mobile styles ============

2.2 varibales - 476

3.2 typography - 478

4.2 layout

*/

/* ============ Resets ============ */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    box-sizing: border-box;
    max-height: 100%;
    max-width: 100%;
}

/* ============ Variables ============ */
:root {
    --general-font-size: 1.8rem;
    --header-nav-links-font-size: 1.8rem;
    --footer-nav-font-size: 1.4rem;
    --marquee-font-size: 6rem;
    --btn-font-size: 1.8rem;
    --section-headings-font-size: 3.6rem;
    --services-headings-font-size: 2.4rem;
    --services-font-size: 1.8rem;
    --services-btn-font-size: 1.4rem;
    --footer-text-font-size: 1.8rem;
    --footer-nav-font-size: 1.8rem;
    --quotes-size: 5rem;
    --labels-font-size: 1.8rem;

    --general-font-color: #343434;
    --marquee-font-color: white;
    --btn-font-color: white;
    --cta-btn-font-color: #343434;
    --services-card-font-color: #343434;
    --footer-font-color: white;
    --section-headings-color: #343434;

    --btn-color: #343434;
    --cta-btn-color: white;
    
}

/* ============ Typograpghy ============ */
html {
    font-size: 10px;
}

body {
    font-family: 'Red Hat Display', sans-serif, 'times-new-roman';
}

h2 {
    font-size: var(--section-headings-font-size);
    color: var(--section-headings-color);
}

p {
    font-size: var(--general-font-size);
    color: var(--general-font-color);
}

a {
    font-size: var(--header-nav-links-font-size);
    color: var(--general-font-color);
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
}

header a {
    margin-right: 3rem;
    color: var(--general-font-color);
}

.marquee h2 {
    font-family: 'livvic', sans-serif, 'times-new-roman';
    font-size:  var(--marquee-font-size);
    font-weight: 900;
    color: var(--marquee-font-color);
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 2rem;
    text-align: center;

}

.btn {
    font-size: var(--btn-font-size);
    color: var(--btn-font-color);
}

.card-btn {
    font-size: var(--services-btn-font-size);
    color: var(--services-card-font-color);
    background-color: var(--btn-color);
}

.quote {
    font-size: calc(var(--quotes-size) + 1vw);
    color: white;
    font-weight: bold;
}

label {
    font-size: var(--labels-font-size);
}

#about h2 {
    margin: 5rem;
    text-transform: uppercase;
    color:var(--section-headings-color);
}

#about p {
    color: white;
    line-height: 1.5;
}

.services-heading {
    margin: 5rem;
    text-transform: uppercase;
    
}

.services-card h2 {
    margin-bottom: 2rem;
    text-align:center;
    color: var(--services-card-font-color);
}

.services-card p {
    color: var(--services-card-font-color);
    margin-bottom: 2rem;
    text-align: left;
}

.card-btn {
    color: white;
}

.contact-heading {
    margin: 5rem;
    text-align: center;
}

#contact p {
    text-align: center;
    font-weight: bold;
}

button {
    font-family: 'Red Hat Display', sans-serif, 'times-new-roman';
}

footer p {
    color: white;
}

footer nav a {
    color: white;
    margin: 2rem;
    font-size: var(--footer-nav-font-size);
}

/* ============ Layout ============ */

.drop-down {
    display: none;
}

.exit {
    display: none;
}

.logo {
    height: 9rem;
} 

#home {
    height: 100vh;
    background-image: url('images/jens-behrmann-Iy3OdKaszJs-unsplash.jpg');
    filter: brightness(1.4);
    background-size: cover;
    background-position: 50% 50%;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 4rem;
    background-color: rgba(255,255,255,0.7);
}

header nav a:hover {
border-bottom: 2px solid black;
}

.marquee {
    background-color: rgba(0, 0, 0, .58);
    width: 50%;
    margin: 5rem 5rem;
    padding: 5rem;
}

#home .btn {
    display: block;
    background-color: #343434;
    text-align: center;
    line-height: 2.7;
    width: 25rem;
    height: 5rem;
    margin-left: 5rem;
    margin-top: -3rem;
    cursor: pointer;
}

#about {
    overflow: hidden;
    height: 100vh;
}

.gallery-container {
    display: flex;
    position: relative;
    overflow: hidden;
    width: 80%;
    height: 40%;
    margin: 5rem auto;
}

.gallery-container img {
    width: 24%;
    height: 100%;
    margin-left: 1rem;
    flex-grow: 1;
}


.right-arrow {
    position: absolute;
    top: 15rem;
    right:1rem;
    cursor: pointer;
}

.left-arrow {
    position: absolute;
    top: 15rem;
    left:1rem;
    cursor: pointer;
}

.about-card {
    position: relative;
    padding: 3%;
    background-color: #343434;
    height: 100%;
    overflow: hidden;
}

.quote:nth-of-type(2){
    display: block;
    margin-left: 97%;
}


.services-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 5rem;
}

.services-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    flex-grow: 1;
    line-height: 2.5rem;
    width: 25rem;
    margin:5rem;
    padding: 3rem;
    box-shadow: -1px 5px 26px -4px rgba(0,0,0,0.75);
    min-width: 20rem;
}

 i {
     display: inline-block;
     text-align: center;
     font-size: 5rem;
     margin: 2rem;
 }

.card-btn {
    display: block;
    width: 15rem;
    height: 4rem;
    line-height: 2.7;
    text-align: center;
    margin: 0 auto;
}

.call-to-action-container {
    background-color: #343434;
    border: 1px solid #343434;
}

.positioning-container {
    /* justify-content; */ 
    display: flex;
    margin-top: -3rem;
    margin-bottom: 3rem;
    padding: 0 5rem 0 5rem;
}

.call-to-action-container img {
    flex-grow: 1;
    width: 15rem;
    height: 35rem;
    margin-right: 5rem;
    box-shadow: -1px 5px 26px -4px rgba(0,0,0,0.75);
}

aside {
    flex-grow: 2;
    height: 35rem;
    background-color: white; 
    width: 20rem;
    line-height: 1.5;
    padding: 3rem;
    box-shadow: -1px 5px 26px -4px rgba(0,0,0,0.75);
    overflow: hidden;
}

aside .btn {
    color: var(--btn-font-color);
    background-color: var(--btn-color);
    display: block;
    width: 60rem;
    height: 5rem;
    line-height: 2.7;
    text-align: center;
    margin: 5rem auto;
}

form {
    box-shadow: -1px 5px 26px -4px rgba(0,0,0,0.75);
    margin: 0 auto;
    width: 90%;
    height:75rem;
    padding: 5rem;
}

label {
    display: block;
    margin: 2rem auto;
    margin-left: 5%;
}

input {
    display: block;
    height: 5rem;
    width: 90%;
    margin: 0rem auto;
    border: 1px solid #343434;
    font-size: 1.8rem; 
}

textarea {
    display: block;
    width: 90%;
    height: 20rem;
    margin: 0rem auto;
    border: 1px solid #343434; 
    font-size: 1.8rem; 
}

button {
    border: none;
    background-color: var(--btn-color);
    width: 15rem;
    height: 5rem;
    line-height: 2.2;
    text-align: center;
    margin-left: 5%;
    margin-top: 2rem;
    margin-bottom: 2rem;
    cursor: pointer;
}

footer {
    display: flex;
    justify-content: space-between;
    padding: 5rem;
    background-color: #343434; 
    height: 10rem;
    margin-top: 10rem;
    overflow: hidden;
}

footer nav a:hover {
    border-bottom: 1px solid white;
}
    /* ============ Tablet Styles ============ */
@media(max-width: 830px){
    /* ============ Variables ============ */
:root {
    --general-font-size: 1.4rem;
    --header-nav-links-font-size: 1.8rem;
    --nav-links-font-size: 1rem;
    --marquee-font-size: 3rem;
    --btn-font-size: 1.4rem;
    --section-headings-font-size: 2.4rem;
    --services-headings-font-size: 2.4rem;
    --services-font-size: 1.8rem;
    --services-btn-font-size: 1.4rem;
    --footer-text-font-size: 1.8rem;
    --footer-nav-font-size: 1.2rem;
    --quotes-size: 6rem;
    --labels-font-size: 1.8rem;

    --general-font-color: #343434;
    --marquee-font-color: white;
    --btn-font-color: white;
    --cta-btn-font-color: #343434;
    --services-card-font-color: #343434;
    --footer-font-color: white;
    --section-headings-color: #343434;

    --btn-color: #343434;
    --cta-btn-color: white;
    
}

/* ============ Typography ============ */

.header-nav a {
    color: white;
}

#home .btn {
    line-height: 5rem;
}

aside .btn {
    line-height: 5rem;
}

form p {
    margin: 2rem;
}

.footer-nav a {
    font-size: var(--footer-nav-font-size);
    margin: 1rem;
}

/* ============ Javascript Appplied Classes ============ */

/* Drop Down Menu Open */
/* .open {
width: 100%;
right: 0;
   position: absolute;
   top: 0;
   right: -150rem;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-evenly;
   height: 100vh;
background-color: var(--btn-color);
}  */

/* adds exit icon to drop-down menu */
/* .exit-open {
    display: block;
    z-index: 2;
    color: white;
    height: 3rem;
} */

/* ============ Layout ============ */

header {
    overflow: hidden;
}

header nav {
   transition: all .7s;
   display: none;
}



.drop-down {
    display: block;
    height: 7rem;
}

.marquee {
    background-color: rgba(0, 0, 0, .59);
    width: 55%;
    margin: 10rem 0 5rem 5rem;
    padding: 5rem;
}

#home .btn {
    width: 55%;
}


#about {
    height: auto;
}

#about img {
    width: 100%;
    height: 45rem;
}

.about-card {
    padding: 2rem;
}

.call-to-action-container img {
   display: none;
}

aside {
    line-height: 2.5;
}

#contact {
    height: auto;
}

button {
    width: 90%;
    margin-left: 4.5%;
}


}

    /* ============ Mobile Styles ============ */
    @media(max-width: 600px){
        /* ============ Variables ============ */
    :root {
        --general-font-size: 1.4rem;
        --header-nav-links-font-size: 1.8rem;
        --nav-links-font-size: 1rem;
        --marquee-font-size: 3rem;
        --btn-font-size: 1.2rem;
        --section-headings-font-size: 2.4rem;
        --services-headings-font-size: 2.4rem;
        --services-font-size: 1.8rem;
        --services-btn-font-size: 1.4rem;
        --footer-text-font-size: 1.8rem;
        --footer-nav-font-size: 1.2rem;
        --quotes-size: 6rem;
        --labels-font-size: 1.8rem;
    
        --general-font-color: #343434;
        --marquee-font-color: white;
        --btn-font-color: white;
        --cta-btn-font-color: #343434;
        --services-card-font-color: #343434;
        --footer-font-color: white;
        --section-headings-color: #343434;
    
        --btn-color: #343434;
        --cta-btn-color: white;
        
    }
    
    /* ============ Typography ============ */
    
    aside .btn {
        font-size: var(--btn-font-size);
        line-height: 3rem;
    }

    aside {
        line-height: 2rem;
    }
    
    /* ============ Layout ============ */

    #home {
        height: 100vh;
    }
    .logo {
        height: 6rem;
        margin-left: -5rem;
    }

    .drop-down{
        height: 2.5rem;
    }

    .marquee {
        width: 80%;
        margin:2rem auto 0 auto;
        background-color: rgba(0, 0, 0, 0.5);

    }

    #home .btn {
        width: 80%;
        margin: 3rem auto 0rem auto;
    }

    .gallery-container {
        width: 90%;
    }
    
    .gallery-container img {
        width: 24%;
        height: 100%;
        margin-left: 1rem;
        flex-grow: 1;
    }

    .services-card {
    line-height: 2rem;
    margin:3rem;
    }

    aside .btn {
        margin-top: 3rem;
        height: 3rem;
    }

    .call-to-action-container {
        background-color: #343434;
        border: 1px solid #343434;
    }
    
    .positioning-container {
        padding: 1.5rem;
    }

    form {
        height: auto;
        padding: 2rem;
    }
    
    label {
        margin: 1rem auto;
        margin-left: 5%;
    }
    
    input {
        height: 3rem;
        font-size: 1.2rem; 
    }
    
    textarea {
        height: 25rem;
        font-size: 1.2rem; 
    }
    
    button {
        width: 90%;
    }

    form p {
        margin-bottom: 2rem;
    }

    footer {
        display: flex;
    }

    footer p {
        margin-left: -4rem;
    }

    .footer-nav {
        margin-right: -4rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    footer nav a:hover {
        border-bottom: unset;
    }
}